#customers {
    //font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#customers td, #customers th {
    font-size: 1.5em;
    border: 1px solid #ffffff;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #423024;
    color: #ffffff;
}

#customers tr.in td {
    color: #ffffff;
    background-color: #423024;
}

#customers tr.out td {
    color: #ffffff;
    background-color: #423024;
}

#customers td.info  {
    color: #ffffff;
    background-color: #DEB466;
}
