<div class="gridster">
    <ul>
        <li data-row="3" data-col="2" data-sizex="2" data-sizey="2">
            Esto es un ejemplo nada mas
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="8" data-col="1" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
        <li data-row="8" data-col="4" data-sizex="1" data-sizey="1">
            Aqui un dibujito de un asiento o algo
        </li>
    </ul>
</div>
