<div class="row">

<div class="col-sm-4">
  <form role="form">
    <div class="form-group">
      <label for="salida">Salida</label>
      <br/>
      <select id="salida" style="width:200px" ng-model="zoom" ui-select2="" ng-options="z.name as z.name for z in estates"></select>
    </div>
    <div class="form-group">
      <label for="destino">Destino</label>
      <br/>
      <select id="destino" style="width:200px" ng-model="zoom" ui-select2="" ng-options="z.name as z.name for z in estates"></select>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Numero de boletos</label>
      <input type="number" min="1" id="exampleInputFile">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">Requiere factura?
      </label>
    </div>
    <button type="submit" ng-click="buscaBoletos()" class="btn btn-default">Buscar</button>
  </form>

</div>
  <div class="col-sm-8">
    <h2>Resultados</h2>
      <table id="customers" class="table table-striped" ng-show="showResult">
        <thead>
          <th>Horario</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Tiempo estimado</th>
          <th>Precio</th>
          <th>Disponibles</th>

        </thead>
        <tbody>
          <tr class="info" ng-repeat="item in serchResult" >
            <td>{{item.horario}}</td>
            <td>{{item.terminalSalida}}</td>
            <td>{{item.terminalLlegada}}</td>
            <td>{{item.tiempoEstidmado}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.disponibles}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>