<!--<h1>{{clock}}</h1>-->
<div class="panel panel-warning">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1><img src="images/autoBusB.png" width="30px">  Ciudad de Mexico <span class="pull-right">{{clock | date:'mediumTime'}} </span></h1> </div>
  <table id="customers" class="table table-striped">
    <head>
    	<th>Salida</th>
      <th>Llegada</th>
      <th>Destino</th>
      <th>Escalas</th>
    	<th>Disponibles</th>
      <th>Autobús</th>
    </head>
    <tbody>
		<tr ng-repeat="item in salidas" ng-class-odd="'in'" ng-class-even="'out'">
			<td>{{item.departure}}</td>
      <td>{{item.arrival}}</td>
			<td class="info"><p class="text-warning"><b>{{item.destino}}</b></p></td>
      <td>{{item.escalas}}</td>
			<td><p ng-class="{'text-danger': item.disponibles<5}">{{item.disponibles}}</p></td>
			<td><p class="text-warning">{{item.puerta}}</p></td>
		</tr>    
    </tbody>
  </table>
</div>

<!--<div class="panel panel-warning">-->
  <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
  <!--<div class="panel-heading">  <h1><img src="images/autoBus.png" width="30px"> Veracruz</h1></div>-->
  <!--<table id="customers" class="table table-striped">-->
    <!--<head>-->
      <!--<th>Salida</th>-->
      <!--<th>Llegada</th>-->
      <!--<th>Destino</th>-->
      <!--<th>Escalas</th>-->
      <!--<th>Disponibles</th>-->
      <!--<th>Autobús</th>-->
    <!--</head>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="item in salidas" ng-class-odd="'in'" ng-class-even="'out'">-->
      <!--<td>{{item.departure}}</td>-->
      <!--<td>{{item.arrival}}</td>-->
      <!--<td class="info"><p class="text-warning"><b>{{item.destino}}</b></p></td>-->
      <!--<td>{{item.escalas}}</td>-->
      <!--<td>{{item.disponibles}}</td>-->
      <!--<td><p class="text-warning">{{item.puerta}}</p></td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

<!--</div>-->