<h1>Tablero de Salidas</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Ciudad de Mexico</div>
  <div class="panel-body">
    <p>Los horarios estan sujetos a cambios sin previo aviso</p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <head>
    	<th>Salida</th>
      <th>Llegada</th>
      <th>Destino</th>
      <th>Escalas</th>
    	<th>Disponibles</th>
      <th>Autobús</th>
    </head>
    <tbody>
		<tr ng-repeat="item in salidas">
			<td>{{item.departure}}</td>
      <td>{{item.arrival}}</td>
			<td>{{item.destino}}</td>
      <td>{{item.escalas}}</td>
			<td>{{item.disponibles}}</td>
			<td>{{item.puerta}}</td>
		</tr>    
    </tbody>
    
  </table>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>#</th>
      <th>Column heading</th>
      <th>Column heading</th>
      <th>Column heading</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    </tbody>
  </table>
</div>
