<h1>Tablero de Salidas</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Ciudad de Mexico</div>
  <div class="panel-body">
    <p>Los horarios estan sujetos a cambios sin previo aviso</p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <head>
    	<th>Salida</th>
      <th>Llegada</th>
      <th>Destino</th>
      <th>Escalas</th>
    	<th>Disponibles</th>
      <th>Autobús</th>
    </head>
    <tbody>
		<tr ng-repeat="item in salidas">
			<td>{{item.departure}}</td>
      <td>{{item.arrival}}</td>
			<td>{{item.destino}}</td>
      <td>{{item.escalas}}</td>
			<td>{{item.disponibles}}</td>
			<td>{{item.puerta}}</td>
		</tr>    
    </tbody>
    
  </table>
</div>
